<div class="container bootcards-container">
  <div class="bootcards-cards">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">BLOGGER BLOGGER DETAILS AND TAGS</h4>
        </div>
        <p class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sapien.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">BLOG TITLE</h4>
        </div>
          <p class="panel-body">
              Donec viverra turpis non nunc porttitor, at tincidunt nisi feugiat.
              Integer nisl metus, vulputate et leo molestie, dictum gravida elit.
              Vivamus ut nulla sollicitudin, condimentum diam ut, ultrices libero.
              Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
              Nullam felis mi, euismod at magna non, convallis malesuada turpis.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis tortor varius,
              consectetur metus at, posuere dolor. Nam efficitur enim nibh, et pharetra justo dapibus non.
              Aenean tincidunt ante nisl, eu gravida erat cursus vitae. Cras in maximus risus.
              Integer accumsan at nulla quis mattis. Suspendisse at mi nec justo euismod
              dapibus quis id urna. Maecenas et suscipit mauris.
          </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
      <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">MONTHS AND YEARS HERE</h4>
          </div>
          <p class="panel-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sapien.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">TWITTER FEED HERE</h4>
          </div>
          <p class="panel-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sapien.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
-->
