<!DOCTYPE html>
<html>
<head>
  <title>MsBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'application',
        'http://cdnjs.cloudflare.com/ajax/libs/bootcards/1.1.1/css/bootcards-desktop.min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="bd">
    <% if notice %>
        <%= notice %>
    <% elseif alert %>
        <%= alert %>
    <% end %>
    <div id="slider">
        <h3>BLOG</h3>
    </div>
    <br />
<%= yield %>

</body>
</html>
